*.class

# Package Files #
*.jar
*.war
*.ear
/CMSEJB/nbproject/private/
/CMSEJBInterface/nbproject/private/
/COMSEJB/nbproject/private/
/CMSEJB/dist/
/CMSEJB/build/
/CMSEJBInterface/dist/
/CMSEJBInterface/build/
/COMSEJBInterface/nbproject/private/
/COMSEJB/build/
/COMSEJB/dist/
/COMSEJBInterface/build/
/COMSEJBInterface/dist/