*.class

# Package Files #
*.jar
*.war
*.ear
/CMSEJB/nbproject/private/
/CMSEJBInterface/nbproject/private/
/COMSEJB/nbproject/private/
/CMSEJB/dist/
/CMSEJB/build/
/CMSEJBInterface/dist/
/CMSEJBInterface/build/
/COMSEJBInterface/nbproject/private/
/COMSEJB/build/
/COMSEJB/dist/
/COMSEJBInterface/build/
/COMSEJBInterface/dist/
/COMSWeb/nbproject/private/
/COMSWeb/build/
/COMSWeb/dist/
/COMSWEB/nbproject/private/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/dist/
/EnterpriseApplication1/build/
/COMSWEB/build/
/COMSWEB/dist/
/ComsEE/nbproject/private/
/ComsEE/build/
/ComsEE/dist/
/ComsEJBInterface/nbproject/private/
/ComsEJBInterface/build/
/ComsEJBInterface/dist/
/BeanInterface/nbproject/private/
/BeanInterface/build/
/BeanInterface/dist/
/ComsInterfaces/nbproject/private/
/ComsInterfaces/dist/
/ComsInterfaces/build/