<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Settings for a local HSQL (testing) database. -->
    <property name="dialect">
      org.hibernate.dialect.MySQLInnoDBDialect
    </property>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost/coms
    </property>
    <property name="hibernate.connection.username">
      root
    </property>
    <property name="hibernate.connection.password">
      password
    </property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.cglib.use_reflection_optimizer">
      false
    </property>
        
    <!-- Cache Settings -->
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        
    <!-- Print SQL to stdout. -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
        
    <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
    <property name="hibernate.hbm2ddl.auto">update</property>
        
    <!--  Transaction -->
    <property name="transaction.factory_class">
      org.hibernate.transaction.JDBCTransactionFactory
    </property>
    <!--  thread is the short name for org.hibernate.context.ThreadLocalSessionContext
    and let Hibernate bind the session automatically to the thread    -->
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
        
    <!-- Mapping files -->
    <mapping resource="user.hbm.xml" />
    <mapping resource="role.hbm.xml" />
  </session-factory>
</hibernate-configuration>